@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';


.fi-sidebar {
    @apply bg-sky-900 dark:bg-slate-900;
}

.fi-topbar {
    @apply bg-sky-900 dark:bg-slate-900;
}

.fi-logo {
    @apply text-black;
}

.fi-topbar-start .fi-logo {
    @apply text-gray-50;
}

.fi-simple-main-ctn {
    @apply bg-gradient-to-br from-blue-950 to-cyan-700;
}

.fi-main .fi-width-7xl {
    max-width: none !important;
}


.fi-sidebar-nav {
    @apply border-t border-white
}

.fi-sidebar-nav-groups {
    @apply gap-y-2;
}

.fi-sidebar-item-label{
    @apply text-gray-50;
}

.fi-sidebar-item:hover .fi-sidebar-item-icon,
.fi-sidebar-item:hover .fi-sidebar-item-label {
    @apply text-black dark:text-gray-50;
}

.fi-sidebar-group-label {
    @apply text-gray-300;
}
 

.fi-sidebar-item-icon {
    @apply text-gray-50;
 }


.fi-sidebar-item.fi-active > .fi-sidebar-item-btn {
    color: #000000 !important;
}

.fi-sidebar-item.fi-active .fi-sidebar-item-icon {
    color: #000000 !important;
}

.fi-sidebar-item.fi-active .fi-sidebar-item-label {
    color: #000000 !important;
}

.dark .fi-sidebar-item.fi-active .fi-sidebar-item-label {
    color: #ffffff !important;
}

.dark .fi-sidebar-item.fi-active > .fi-sidebar-item-btn {
    color: #000000 !important;
}

.dark .fi-sidebar-item.fi-active .fi-sidebar-item-icon {
    color: #ffffff !important;
}


.fi-wi-stats-overview-stat-label, .fi-wi-stats-overview-stat-description {
    @apply text-black dark:text-white;
}